.search-bar{
    margin:20px;
    text-align: center;
}

.search-bar input {
    width:75%;

}

/*Video thumbnail in the right hand side*/
.video-item img {
    max-width: 64px;
}

/*individual video detail in the right hand panel*/
.video-detail .details {
    margin-top: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius:4px;
}

.list-group-item{
    cursor:pointer;
}

.list-group-item:hover{
    background-color:#eee;
}